  
*{
	margin: 0px;
	padding: 0px
	width: 100%;
	
}

body{
	background-color: white;
	font-size: 20px;
	font-weight: 550;
	font-family:  'Nunito Sans', sans-serif;
	color: #757878;

	
}

.navbar{
	padding-bottom: 0px !important;
}

.serv{
	padding-top: 40px !important;
}
.row{
	padding-top: 0px;
}
.ordem{
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom:0px;
	padding-top: 0px;
}
.margem{
	width: 100%;
	height: 100%;
	border-right-color: #8ccfd9;
	border-right-style: solid;
	border-right-width: 7px;
	border-left-color: #8ccfd9;
	border-left-style: solid;
	border-left-width: 7px;
}
.bigcontainer{
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;

}
.bigcontainer div .dir{
	height: 100%;
	width: 7px;
	float: right;
	background-color: red;

}
h1{
	font-weight: 600;
	font-size: 28px;
	color: #434343;
}
.redes{
	margin-top: 20px;
	padding-bottom: 20px;
}
ul{
	/*margin: 0px;*/
	padding-inline-start: 0px !important;
	margin-block-start: 0px;
    margin-block-end: 0px;

}

}
a{
	text-decoration: none;
	
}

a:hover {
	text-decoration: none;
	color: white;
	font-weight: 800;
}

header div #consultora{
	margin-top: 40px !important;
}

.menino{
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #b6b6b6;
	box-shadow: 0 .5rem 1rem !important;
}
.teste{
	align-content: center;
	justify-content: center;
	background-color: black;
	max-width: 100%;
}

.navbar-toggler-icon{
	border-color: #b6b6b6;
	border-style: solid;
	border-width: 1px;
	color: #757878;
	font-size: 120%;
}
.navbar-toggler-icon:hover {
	font-color: #8ccfd9;
	font-size: 24px;
	border-color: #8ccfd9;
}
.navbar-toggler-icon:active {
	font-color: #8ccfd9;
	font-size: 24px;
	border-color: white !important;
}
.navbar-toggler{
	right: 10%;
}

 .navbar-nav{
 	padding-top: 0px;
 	/*margin-top: 0px; */
    position: absolute; 
    left: 50%; 
    text-align: center;
    transform: translatex(-50%); 
    border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b6b6b6;
	width: 100% !important;
	color: #757878;
	box-shadow: 0 .5rem 1rem !important;
	

}

.lindeza{
	margin-top: 3px;
}

.treta{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #757878 !important;
	background-color: #ffffff;
}
.branco{
	background-color: white;
	/*border-right-color: #8ccfd9;
	border-right-style: solid;
	border-right-width: 7px;
	border-left-color: #8ccfd9;
	border-left-style: solid;
	border-left-width: 7px;*/
}

.treta:hover{
	
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #8ccfd9 !important;
	background-color: white;
}
.atifa{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #757878 !important;
	background-color: #8ccfd9;
}

.active{

	color: #757878 !important;
	font-weight: bold;
	border-color: white !important;
	font-size: 16px;
}

.active1{

	color: #757878 !important;
	font-weight: bold;
	border-color: white !important;
	font-size: 22px !important;
}

.nav-item{
	text-align: center;
	color: #757878;
}
.dropdown { 
    position: static !important; 
} 
          
.dropdown-menu { 

    margin-top: 0px !important; 
    text-align: center;
    left: 42%;
    background-color: white;
} 

.redeimg{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.redinha{
	vertical-align: top;
	text-align: center;

}
.logo{
	
	padding-top: 7px !important;
}
.logo-white{
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.descreve{
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 15px;

}
.upado{
	padding-bottom: 30px;
}

.ajuste{
	padding-left: 3px;
	padding-top: 25px;
}
.acima{
	padding-top: 25px;
	padding-bottom: 40px;
}
.abaixo{

	border-top-width: 1px;
	border-top-style: solid;
	border-color: white;
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	
	background-color: #666666ff;
	width: 100%;
}
.rodape{
	background-color: #666666ff;
	color: white;
	padding-top: 30px;
	width: 100%;
}
.menudo{
	padding-top: 15px;
	padding-left: 40px;
}
ul #menu-fim1{
		
		flood-color: white;
		font-size: 16px;
		font-family:  'Nunito Sans', sans-serif;
		text-decoration: none;
		font-color: white;

}
ul #menu-fim{
		
		font-family:  'Nunito Sans', sans-serif;
		text-decoration: none;
		padding-bottom: 9px;
		font-color: white;
		list-style-type: none;
}
a .lnk-bco {
	font-size: 16px;
	font-family:  'Nunito Sans', sans-serif;
	text-decoration: none;
	color: white;
	padding-right: 10%;

}

.esquerda{
	padding-left: 5%;
}
.direita{
	padding-right: 5%;	
}
.contato{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: white;
	padding-top: 13px;
}
.piso{
	float: left;
	width: 50%;
	background-color: #666666ff;
}
#telefone{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
#miudinho{
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;	
}


/*/! Dispositivos extra small (telefones em modo retrato, com menos de 576px!/*/
@media (max-width: 575.99px) { 
	.navbar-nav.navbar-center { 
		margin-top: 50px !important;
 }
 a{
	text-decoration: none;
	color: white !important;
}
 #ajust{
	margin-top: 30px;
}
div img #img-a{
	
	text-align: center !important;
}
.contato{
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-color: white;
	padding-top: 13px;
	left: 50%;
	text-align: center;
}
#miudinho{
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	left: 50%;
	text-align: center;	
}
.abaixo{
	border-width: 0px;	
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #b6b6b6;
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	background-color: #666666ff;
	text-align: center;
	width: 100% !important;
	left:50%;
	color: white;
	text-decoration: none;
}
.abaixo div div a{
	color: white;
	text-decoration: none;
	width: 100% !important;
}
.piso{
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
}
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-nav.navbar-center { 
		margin-top: 50px !important;
 }
  	#ajust{
	margin-top: 30px;
}
a{
	text-decoration: none;
	color: white !important;
}
.nav-item{
	padding-top: 3px;
}

.contato{
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-color: white;
	padding-top: 13px;
	left: 50%;
	text-align: center;
}
#miudinho{
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	left: 50%;
	text-align: center;	
}
.abaixo{
	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #b6b6b6;
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	background-color: #666666ff;
	text-align: center;
	width: 100% !important;
	left:50%;

}
.abaixo div div a{
	color: white;
	text-decoration: none;
	width: 100%;
}
.piso{
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
}
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
.navbar-nav.navbar-center { 
	margin-top: 50px !important;
}
  
 	#ajust{
		margin-top: 30px;
	}
 	#img-a{
		margin-top: 30px;
	}
	a{
		text-decoration: none !important;
		color: white !important;
	}
	.abaixo{
		border-width: 0px;
		border-top-width: 1px;
		border-top-style: solid;
		border-color: #b6b6b6;
		font-size: 12px;
		font-family:  'Nunito Sans', sans-serif;
		background-color: #666666ff;
		text-align: center;
		width: 100% !important;
		left:50%;
}
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.navbar-nav.navbar-center { 
		margin-top: 0px !important;
 }
 a{
	text-decoration: none;
	color: white !important;
}
.abaixo{
	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #b6b6b6;
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	background-color: #666666ff;
	text-align: center;
	width: 100% !important;
	left:50%;

}
.lad1{
	float: left;
	width: 50%;
}
.lad2{
	float: right;
	width: 50%
}
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
	.navbar-nav.navbar-center { 
		margin-top: 0px !important;
 }
 a{
	text-decoration: none;
	color: white !important;
}
.abaixo{

	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #b6b6b6;
	font-size: 12px;
	font-family:  'Nunito Sans', sans-serif;
	background-color: #666666ff;
	width: 100% !important;
	

}
.rodape .abaixo .gambi #gah{
	padding-left: 10%;
	padding-right: 10%;
}


.rodape div #registro{
	width: 50%;
	float: left;
	padding-left: 5% !important;
	text-align: left;
}
.rodape div #ana{
	float: right;
	text-align: right;
	width: 50%;
	padding-right: 5% !important;

}
}

